.signup_container{
    width:800px;
    height:600px;
    max-width: 100%;
    margin:0 auto;
    background:#F4F5FC;
    display: flex;
}
.content{
    width:666px;
    max-width:100%;
    margin:60px auto 0px auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}
.formcontainer{
    width:528px;
    max-width: 100%;
    height:480px;
    background: url('../img/main/main.png') no-repeat center center;
    background-size:cover;
}
.formcontent{
    width:487px;
    max-width: 100%;
    height:auto;
    margin:40px auto 0px auto;
}
.formcontent h2{
    font-family:$fontWK;
    letter-spacing: -0.46px;
    color: #111111;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
.formcontainer_heading{
    font-family:$fontWK;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #111111;
    letter-spacing: -0.36px;
}
.initialform{
    width:485px;
    max-width: 100%;
    height:auto;
    margin:17px auto 0px auto;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
   
}
.initialform div{
    width:235px;
    max-width: 100%;
    height:auto;
}
.initialform__secons_container_textlabel{
    font-family:$fontWK;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #7C7C7C;
    text-transform: capitalize;
    letter-spacing: -0.36px;
}
.initialform__secons_container_textinput{
   border:none;
   width: 235px;
   max-width: 100%;
   border-bottom:1px solid #F2F2F2;
   font-family:$fontWK;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #111111;
    margin-top:4px;
    padding-bottom:5px;
}

.initialform__secons_container_textlabel{
    font-family:$fontWK;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #7C7C7C;
    text-transform: capitalize;
    letter-spacing: -0.36px;
}
.initialform__secons_container_emaillabel{
    font-family:$fontWK;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
   margin-top:17px;
    color: #7C7C7C;
    display: block;
    letter-spacing: -0.36px;
}
.initialform__secons_container_textinput{
   border:none;
   width: 235px;
   max-width: 100%;
   border-bottom:1px solid #F2F2F2;
   font-family:$fontWK;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #111111;
    margin-top:4px;
    padding-bottom:5px;
    background:none;
}
.initialform__secons_container_emailinput{
    border:none;
    width: 235px;
    max-width: 100%;
    border-bottom:1px solid #F2F2F2;
    font-family:$fontWK;
     font-weight: normal;
     font-size: 14px;
     line-height: 16px;
     color: #111111;
     margin-top:6px;
     padding-bottom:5px;
     background:none; 
     position:relative;
     display: block;
}
.initialform__secons_container_passwordlabel{
    font-family:$fontWK;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
   margin-top:18px;
    color: #7C7C7C;
    display: block;
    letter-spacing: -0.36px;
    text-transform: capitalize;
}
.initialform__secons_container_passwordinput{
    border:none;
    width: 235px;
    max-width: 100%;
    border-bottom:1px solid #F2F2F2;
    font-family:$fontWK;
     font-weight: normal;
     font-size: 14px;
     line-height: 16px;
     color: #111111;
     margin-top:6px;
     padding-bottom:5px;
     background:none; 
}
.initialform__secons_container_radilabel{
    font-family:$fontWK;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
   margin-top:18px;
    color: #7C7C7C;
    display: block;
    letter-spacing: -0.36px;
}
.initialform__secons_container_databorn{
    font-family:$fontWK;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
   margin-top:47px;
    color: #7C7C7C;
    display: block;
    letter-spacing: -0.36px;
}
.initialform__secons_container_passwordconlabel{
    font-family:$fontWK;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
   margin-top:25px;
    color: #7C7C7C;
    display: block;
    letter-spacing: -0.36px;
    text-transform: capitalize;
}
.initialform__secons_container_passwordconinput{
    border:none;
    width: 235px;
    max-width: 100%;
    border-bottom:1px solid #F2F2F2;
    font-family:$fontWK;
     font-weight: normal;
     font-size: 14px;
     line-height: 16px;
     color: #111111;
     margin-top:6px;
     padding-bottom:5px;
     background:none;  
}
.radio_text{
    font-family:$fontWK;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #111111;
    margin-left:17px;
    margin-top:6px;
}
.initialform__first_container_selectnation{
    width: 235px;
    max-width: 100%;
    border:none;
	float:left;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	border-bottom:1px solid #F2F2F2;
	background:url('../img/icons/galka.png');
	background-repeat:no-repeat;
	background-size:8px 4px;
    background-position:right 7px;
    font-family:$fontWK;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #111111;
    margin-top:7px;
    padding-bottom:5px;
}
.initialform__first_container_selectday{
    width: 56px;
    max-width: 100%;
    border:none;
	float:left;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	border-bottom:1px solid #F2F2F2;
	background:url('../img/icons/galka.png');
	background-repeat:no-repeat;
	background-size:8px 4px;
    background-position:right 7px;
    font-family:$fontWK;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #111111;
    margin-top:7px;
    padding-bottom:5px;
}

.initialform__first_container_selectmonth{
    width: 91px;
    max-width: 100%;
    border:none;
	float:left;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	border-bottom:1px solid #F2F2F2;
	background:url('../img/icons/galka.png');
	background-repeat:no-repeat;
	background-size:8px 4px;
    background-position:right 7px;
    font-family:$fontWK;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #111111;
    margin-top:7px;
    padding-bottom:5px;
}
.initialform__first_container_selectyear{
    width: 67.67px;
    max-width: 100%;
    border:none;
	float:left;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	border-bottom:1px solid #F2F2F2;
	background:url('../img/icons/galka.png');
	background-repeat:no-repeat;
	background-size:8px 4px;
    background-position:right 5px;
    font-family:$fontWK;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #111111;
    margin-top:7px;
    padding-bottom:5px;
}
.initialform__first_container_selectgroup div:nth-child(1){
    width:56px;
}
.initialform__first_container_selectgroup div:nth-child(2){
    width:91px;
}
.initialform__first_container_selectgroup div:nth-child(3){
    width:67.67px;
}
.initialform__first_container_selectgroup{
    width:235px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}
// Radio_buttons_start
.initialform__secons_container_radiogroup div:nth-child(1){
    width:70px;
    max-width:100%;
}
.initialform__secons_container_radiogroup div:nth-child(2){
    width:70px;
    max-width:100%;
}
.initialform__secons_container_radiogroup input[type="radio"] { display: none; }

.initialform__secons_container_radiogroup { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.initialform__secons_container_radiogroup label::before { content: ""; background: url("../img/icons/circleradio.png"); display: inline-block; height: 13px; width: 13px; cursor: pointer; }

.initialform__secons_container_radiogroup label::after { content: ""; margin-top: -14px; margin-left: 0px; cursor: pointer; }

.initialform__secons_container_radiogroup label { position: relative; }

.initialform__secons_container_radiogroup label::before, .initialform__secons_container_radiogroup label::after { position: absolute; }

/*Внешний блок*/
.initialform__secons_container_radiogroup label::before { top: 8px;left:-1px }

/*Галка*/
.initialform__secons_container_radiogroup label::after {  top: 19.2px;margin-left:2.47px }

/*Прячем галку по умолчанию*/
.initialform__secons_container_radiogroup input[type="radio"] + label::after { content: none; }

/*Показываем галку по состоянию checked*/
.initialform__secons_container_radiogroup input[type="radio"]:checked + label::after { content: url("../img/icons/dotsrudio.png"); }
// Radio_buttons_end
.initialform__complete{
    width:485px;
    max-width:100%;
    display: flex;
    height:auto;
    margin:98px auto 0px auto;
}
.initialform__complete p{
    font-family:$fontWK;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
    margin-top:7px;
    letter-spacing: -0.36px;
}
.initialform__complete p a{
    font-family:$fontWK;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #5A61ED;
}
.initialform__complete button{
     display: block;
     margin-left:auto;
     width:154px;
     height:32px;
     max-width: 100%;
     background:#5A61EC;
     border:none;
     font-family:$fontPT;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}
.toggler_img{
    position: absolute;
    top:22px;
    right:0;
    z-index: 999999;
}
.toggle1{
    display: none;
}
#emailcontainer{
    position: relative;
}
// Media request
@include DesktopMaxScreen(){
.formcontainer{
    margin-top:-80px;
    width:81vw;
    max-width: 100%;
    height:auto;
    padding-bottom:30px;
}
.content{
    flex-direction: row;
    justify-content:space-around;
}
.signup_container{
    height:auto;
    padding-bottom:50px;
}
.formcontent h2{
    text-align: center;
}
.formcontainer_heading{
    text-align: center;
    padding-top:5px;
}     
}
@include ReverseIpadScreen(){
    .initialform__first_container{
       margin:10px auto 0px auto;
    }
    .initialform__secons_container{
        margin:10px auto 0px auto;
    }
}
